@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		margin: 0;
	}

	@font-face {
		font-family: "Noto Sans HK";
		src: local("NotoSansHK-Regular"),
			url("./assets/fonts/NotoSansHK-Regular.otf") format("truetype");
	}

	@media (max-width: 576px) {
		.ant-picker-panels {
			flex-direction: column !important;
		}
	}
}
